<h4>Silahkan isikan buku yang ingin dipinjam</h4><br/>
<form [formGroup]="bukuForm" (ngSubmit)="kirim()">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <!-- ISBN -->
          <div class="form-group row">
            <div class="col-sm-4">
                <label  class = "row-sm-5 form-control-label" >
                    <!--Name : {{inputInfo.name}}-->
                    ISBN: 
                </label>
                <input type="text" [formControlName]="'kodeisbn'" class="form-control">
            </div>
            <div class="col-sm-4">
              <!-- #inputNama itu id di pasang di teman-add.component.ts -->
                <label  class = "row-sm-5 form-control-label">
                    <!--Name : {{inputInfo.name}}-->
                    Judul Buku: 
                </label>
                <!-- #inputNama itu id di pasang di teman-add.component.ts -->
                <input type="text" [formControlName]="'judulbuku'" class="form-control">
            </div>
            <div class="col-sm-4">
                <label  class = "row-sm-5 form-control-label">
                    <!--Name : {{inputInfo.name}}-->
                    Jumlah Buku: 
                </label>
                <input type="text" [formControlName]="'jumlahbuku'" class="form-control">
            </div>
          </div>          
      <button type="submit" class="btn btn-success" >Pilih</button>
        </div>
      </div>
    </div>
</form>
